a {
	color: white;
}
a:hover {
	color: red;
}
#goodFileTitle {
	text-align: center;
	color: limegreen;
}
#redFileTitle {
	text-align: center;
	color: red;
}
#subtext {
	text-align: center;
}